<header role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">CK-ToDo</span>
            </div>
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <span class="icon-spinner icon-2x icon-spin"></span>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container-fluid page-host" data-bind="router: { transition:'entrance' }"></main>
<footer role="contentinfo">
</footer>